@using System.Globalization
@model Artist

@{
    ViewData["Title"] = Model.Name;
}

<h1 class="display-4">@Model.Name</h1>
<dl>
    @foreach(var show in Model.Shows) {
	    <dt>
		    <country-flag country="@show.Venue.Country" />
		    @show.Venue.Name @show.Venue.CountryName
		    @show.DoorsOpen.ToString("D", CultureInfo.InvariantCulture)
	    </dt>
        <dd>@foreach(var tt in show.TicketTypes) {
            @tt.Name<text>&nbsp;</text>
            @tt.Price.ToString("C", show.Venue.CultureInfo)           <br/>
        }        
        </dd>

    }    
</dl>
