@model Artist

@{
    ViewData["Title"] = Model.Name;
}

<h1 class="display-4">@Model.Name</h1>
<dl>
    @foreach(var show in Model.Shows) {
        <dt>@show.Venue.Name @show.DoorsOpen</dt>
        <dd>@foreach(var tt in show.TicketTypes) {
            @tt.Name @tt.Price <text> / </text>
        }        
        </dd>

    }    
</dl>
