@model TicketTypeViewModel
<hr />
<div class="row">
	<input asp-for="Id" type="hidden" />
	<input asp-for="Quantity" value="@Model.Quantity" type="hidden" />
	<span class="col-sm-8">
		@Model.Name
	</span>
	<span class="col-sm-2">
		@Model.FormattedPrice
	</span>
	<span class="col-sm-2">
		<button name="increment" value="@Model.Id">@Buttons.IncrementTicket</button>
		<span>@Model.Quantity</span>
		<button name="decrement" value="@Model.Id">@Buttons.DecrementTicket</button>
	</span>
</div>